name: Android CI

on:
  push:
#    branches: [ master ]
    tags:
      - 'v*.*'
      - 'v*.*.rc*'
      - 'v*.*.dev*'
#  pull_request:
#    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Build
#      run: ./gradlew :lib-simpleloginet:assembleRelease :lib-simpleloginet:sourcesJar :lib-simpleloginet:javadocJar
      run: ./gradlew :lib-simpleloginet:assembleRelease :lib-simpleloginet:sourcesJar

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          './lib-simpleloginet/build/outputs/aar/lib-simpleloginet-release.aar'
          './lib-simpleloginet/build/libs/lib-simpleloginet-sources.jar'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
