name: Android CI

on:
  push:
#    tags:
#      - 'v*.*.*'
    branches: [ test ]
#  pull_request:
#    branches: [ test ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

#      - name: Build
#        run: echo ${{ github.sha }} > Release.txt
#      - name: Test
#        run: cat Release.txt
#      - name: Release
#        uses: softprops/action-gh-release@v1
#        if: startsWith(github.ref, 'refs/tags/')
#        with:
#          files: Release.txt
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        run: ./gradlew :lib-simpleloginet:assembleRelease

#"${INPUT_API_URL}/content/${INPUT_REPOSITORY_USER}/${INPUT_REPOSITORY}
#/${INPUT_PACKAGE}/${INPUT_VERSION}/${INPUT_UPLOAD_PATH}/${FILENAME};publish=${INPUT_PUBLISH}"
      - name: Upload aar package to Bintray
        uses: bpicode/github-action-upload-bintray@master
        with:
          file: ./lib-simpleloginet/build/outputs/aar/lib-simpleloginet-release.aar
          api_url: 'https://api.bintray.com'
          api_user: 'halohoop'
          api_key: ${{ secrets.BINTRAY_API_KEY }} # An API key can be obtained from the user profile page.
#          gpg_passphrase: ${{ secrets.BINTRAY_GPG_PASSPHRASE }} # Optional, for this to work Bintray requires a GPG public/private keypair configured for the repository owner (individual or organization).
          repository_user: 'halohoop'
          repository: 'maven'
          package: 'com.halohoop.simpleloginet'
          version: '1.0.0.dev01'
          upload_path: 'android' # Typical for debian repository layout
          publish: 1 # 'Whether to publish the package right away, use "1" to enable'
          calculate_metadata: true # Schedule metadata calcuation after upload
          deb_distribution: stretch,buster,sid
          deb_component: main
          deb_architecture: amd64